/*
 *  Components: system message
 *  ---
 *  Styling of system messages, like page not found
 */
.c-system-message {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  justify-content: center;
  align-items: center;
  width: 1000px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.c-system-message__text {
  font-size: 40px;
  color: #5c5c5c;
  margin-bottom: 2em;
}

.c-system-message__button {
  border: none;
  background: none;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  font: inherit;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  margin: 0;
  line-height: 1em;
  padding: .5em 3em;
  max-width: 100%;
  color: #5c5c5c;
  background-color: #e6e6e6;
  transition: background-color .2s ease;
  position: relative;
  text-decoration: none;
}

.c-system-message__button:hover {
  background-color: #cdcdcd;
}
